$green-background: #00ba5f;
$green-text: $green-background - #0f0f0f;

$mobile-m-width: 375px;
$mobile-l-width: 425px;
$tablet-width: 768px;
$laptop-width: 1024px;
$four-k-width: 2560px;

.CamperLeaderboardContainer {
  width: 100vw;
  @media screen and (min-width: $laptop-width) {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 60vw;
  }
  @media screen and (min-width: $four-k-width) {
    width: 35vw;
  }
  margin: auto;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background-color: #fff;
  box-sizing: border-box;
}

.CamperLeaderboardHead {
  border-top: 15px solid $green-text;
  padding-top: 5px;
  padding-bottom: 10px;
  background-color: $green-background;
  color: #fff;
  box-shadow: 0 2px 9px -1px rgba(0,0,0,0.10), 0 2px 6px -1px rgba(0,0,0,0.20);
  h1 {
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.CamperLeaderboardBody {
  padding-left: 10px;
  padding-right: 10px;
  background-color: #fff;
  box-sizing: border-box;
  table {
    margin: auto;
    margin-top: 5px;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    border-radius: 2px;
    box-sizing: border-box;
    td {
      padding: 5px;
      padding-left: 3px;
      padding-right: 3px;
      border-bottom: 1px solid #eee;
      vertical-align: middle;
      box-sizing: border-box;
    }
    a {
      text-decoration: none;
      color: $green-text;
      &:hover,
      &:active,
      &:visited {
        color: $green-text;
      }
    }
    thead {
      color: #999;
      .filter-container {
        input {
          display: block;
          float: right;
          padding-right: 30%;
          box-sizing: border-box;
          text-align:center;
          font-size: 16px;
          font-family: 'Roboto Condensed', sans-serif;
          border: none;
          width: 70%;
          &:focus {
            outline: none;
          }
        }
        span {
          margin-top: 2px;
          text-align: right;
          display: block;
          float: left;
          width: 30%;
        }
      }
      td {
        border-bottom: 1px solid #ddd;
        padding-top: 10px;
        padding-bottom: 10px;
      }
      td:nth-child(1) {
        width: 9%;
        padding-left: 0;
        padding-right: 0;
        @media screen and (min-width: $mobile-l-width) {
          width: 10%;
        }
      }
      td:nth-child(2) {
        width: 15%;
        display: none;
        @media screen and (min-width: $mobile-l-width) {
          display: table-cell;
        }
      }
      td:nth-child(3) {
        width: 41%;
        @media screen and (min-width: $mobile-l-width) {
          width: 35%;
        }
        @media screen and (min-width: $tablet-width) {
          width: 30%;
        }
      }
      td:nth-child(4) {
        width: 28%;
        padding-left: 10px;
        @media screen and (min-width: $mobile-l-width) {
          width: 20%;
        }
        @media screen and (min-width: $tablet-width) {
          width: 15%;
        }
      }
      td:nth-child(5) {
        width: 22%;
        padding-left: 10px;
        @media screen and (min-width: $mobile-l-width) {
          width: 20%;
        }
        @media screen and (min-width: $tablet-width) {
          width: 15%;
        }
      }
      td:nth-child(6) {
        display: none;
        @media screen and (min-width: $tablet-width) {
          display: table-cell;
          width: 15%;
        }
      }
      .sort-by {
        border-bottom: 2px solid $green-text;
        padding-top: 11px;
      }
    }
    tbody {
      font-size: 14px;
      img {
        width: 40px;
        border-radius: 50%;
        vertical-align: middle;
      }
      tr {
        height: 51px;
      }
      td:nth-child(2) {
        width: 10%;
        display: none;
        @media screen and (min-width: $mobile-l-width) {
          display: table-cell;
        }
      }
      td:nth-child(6) {
        color: #bbb;
        font-size: 12px;
        display: none;
        @media screen and (min-width: $tablet-width) {
          display: table-cell;
        }
      }
    }
  }
}

.CamperLeaderboardBottom {
  margin-top: 25px;
  background-color: $green-background;
  border-bottom: 3px solid $green-text;
  box-shadow: 0 2px 9px -1px rgba(0,0,0,0.10), 0 2px 6px -1px rgba(0,0,0,0.20);
  .credits-link {
    font-size: 12px;
    text-decoration: none;
    color: #ddd;
    transition: color 0.3s ease;
    &:active,
    &:visited {
      color: #ddd;
    }
    &:hover {
      color: #fff;
    }
  }
}
