.CamperLeaderboardContainer {
  width: 100vw;
  margin: auto;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-color: #fff;
  box-sizing: border-box; }
  @media screen and (min-width: 1024px) {
    .CamperLeaderboardContainer {
      margin-top: 20px;
      margin-bottom: 20px;
      width: 60vw; } }
  @media screen and (min-width: 2560px) {
    .CamperLeaderboardContainer {
      width: 35vw; } }

.CamperLeaderboardHead {
  border-top: 15px solid #00ab50;
  padding-top: 5px;
  padding-bottom: 10px;
  background-color: #00ba5f;
  color: #fff;
  box-shadow: 0 2px 9px -1px rgba(0, 0, 0, 0.1), 0 2px 6px -1px rgba(0, 0, 0, 0.2); }
  .CamperLeaderboardHead h1 {
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0; }

.CamperLeaderboardBody {
  padding-left: 10px;
  padding-right: 10px;
  background-color: #fff;
  box-sizing: border-box; }
  .CamperLeaderboardBody table {
    margin: auto;
    margin-top: 5px;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    border-radius: 2px;
    box-sizing: border-box; }
    .CamperLeaderboardBody table td {
      padding: 5px;
      padding-left: 3px;
      padding-right: 3px;
      border-bottom: 1px solid #eee;
      vertical-align: middle;
      box-sizing: border-box; }
    .CamperLeaderboardBody table a {
      text-decoration: none;
      color: #00ab50; }
      .CamperLeaderboardBody table a:hover, .CamperLeaderboardBody table a:active, .CamperLeaderboardBody table a:visited {
        color: #00ab50; }
    .CamperLeaderboardBody table thead {
      color: #999; }
      .CamperLeaderboardBody table thead .filter-container input {
        display: block;
        float: right;
        padding-right: 30%;
        box-sizing: border-box;
        text-align: center;
        font-size: 16px;
        font-family: 'Roboto Condensed', sans-serif;
        border: none;
        width: 70%; }
        .CamperLeaderboardBody table thead .filter-container input:focus {
          outline: none; }
      .CamperLeaderboardBody table thead .filter-container span {
        margin-top: 2px;
        text-align: right;
        display: block;
        float: left;
        width: 30%; }
      .CamperLeaderboardBody table thead td {
        border-bottom: 1px solid #ddd;
        padding-top: 10px;
        padding-bottom: 10px; }
      .CamperLeaderboardBody table thead td:nth-child(1) {
        width: 9%;
        padding-left: 0;
        padding-right: 0; }
        @media screen and (min-width: 425px) {
          .CamperLeaderboardBody table thead td:nth-child(1) {
            width: 10%; } }
      .CamperLeaderboardBody table thead td:nth-child(2) {
        width: 15%;
        display: none; }
        @media screen and (min-width: 425px) {
          .CamperLeaderboardBody table thead td:nth-child(2) {
            display: table-cell; } }
      .CamperLeaderboardBody table thead td:nth-child(3) {
        width: 41%; }
        @media screen and (min-width: 425px) {
          .CamperLeaderboardBody table thead td:nth-child(3) {
            width: 35%; } }
        @media screen and (min-width: 768px) {
          .CamperLeaderboardBody table thead td:nth-child(3) {
            width: 30%; } }
      .CamperLeaderboardBody table thead td:nth-child(4) {
        width: 28%;
        padding-left: 10px; }
        @media screen and (min-width: 425px) {
          .CamperLeaderboardBody table thead td:nth-child(4) {
            width: 20%; } }
        @media screen and (min-width: 768px) {
          .CamperLeaderboardBody table thead td:nth-child(4) {
            width: 15%; } }
      .CamperLeaderboardBody table thead td:nth-child(5) {
        width: 22%;
        padding-left: 10px; }
        @media screen and (min-width: 425px) {
          .CamperLeaderboardBody table thead td:nth-child(5) {
            width: 20%; } }
        @media screen and (min-width: 768px) {
          .CamperLeaderboardBody table thead td:nth-child(5) {
            width: 15%; } }
      .CamperLeaderboardBody table thead td:nth-child(6) {
        display: none; }
        @media screen and (min-width: 768px) {
          .CamperLeaderboardBody table thead td:nth-child(6) {
            display: table-cell;
            width: 15%; } }
      .CamperLeaderboardBody table thead .sort-by {
        border-bottom: 2px solid #00ab50;
        padding-top: 11px; }
    .CamperLeaderboardBody table tbody {
      font-size: 14px; }
      .CamperLeaderboardBody table tbody img {
        width: 40px;
        border-radius: 50%;
        vertical-align: middle; }
      .CamperLeaderboardBody table tbody tr {
        height: 51px; }
      .CamperLeaderboardBody table tbody td:nth-child(2) {
        width: 10%;
        display: none; }
        @media screen and (min-width: 425px) {
          .CamperLeaderboardBody table tbody td:nth-child(2) {
            display: table-cell; } }
      .CamperLeaderboardBody table tbody td:nth-child(6) {
        color: #bbb;
        font-size: 12px;
        display: none; }
        @media screen and (min-width: 768px) {
          .CamperLeaderboardBody table tbody td:nth-child(6) {
            display: table-cell; } }
      .CamperLeaderboardBody table tbody .more-info-top {
        padding: 10px;
        padding-left: 5%;
        padding-right: 5%; }
      .CamperLeaderboardBody table tbody .more-info-image {
        width: 150px;
        border-radius: 0; }
      .CamperLeaderboardBody table tbody .more-info-name {
        font-size: 20px; }
      .CamperLeaderboardBody table tbody .more-info-location {
        color: #bbb;
        font-size: 14px; }
      .CamperLeaderboardBody table tbody .more-info-bio {
        max-width: 50%;
        margin: auto;
        margin-top: 20px; }
        .CamperLeaderboardBody table tbody .more-info-bio hr {
          border: none;
          background-color: #ccc;
          height: 1px;
          max-width: 50%; }
      .CamperLeaderboardBody table tbody .social-twitter {
        color: #fff;
        display: inline-block;
        padding: 2px;
        padding-left: 4px;
        padding-right: 4px;
        background-color: #1da1f2;
        border-radius: 2px;
        margin-right: 2px; }
      .CamperLeaderboardBody table tbody .social-github {
        color: #fff;
        display: inline-block;
        padding: 2px;
        padding-left: 4px;
        padding-right: 4px;
        background-color: #24292e;
        border-radius: 2px;
        margin-right: 2px; }
      .CamperLeaderboardBody table tbody .social-linkedIn {
        color: #fff;
        display: inline-block;
        padding: 2px;
        padding-left: 4px;
        padding-right: 4px;
        background-color: #007bb6;
        border-radius: 2px;
        margin-right: 2px; }

.CamperLeaderboardBottom {
  padding: 2px; }
  .CamperLeaderboardBottom .credits-link {
    font-size: 12px;
    text-decoration: none;
    color: #ccc;
    transition: color 0.3s ease; }
    .CamperLeaderboardBottom .credits-link:active, .CamperLeaderboardBottom .credits-link:visited {
      color: #ccc; }
    .CamperLeaderboardBottom .credits-link:hover {
      color: #aaa; }

/*# sourceMappingURL=CamperLeaderboard.css.map */
